<axis>
y0 = {{ y0 }}
y1 = {{ y1 }}
{% if spacing is not none %}
spacing = {{ spacing }}
{ %endif} %}
{% if position is not none %}
position = {{ position }}
{ %endif} %}
{% if position_skip is not none %}
position_skip = {{ position_skip }}
{ %endif} %}
{% if color is not none %}
color = {{ color }}
{ %endif} %}
{% if thickness is not none %}
thickness = {{ thickness }}
{ %endif} %}
</axis>